$header-color: #00FF00;
$nav-bar-color: #FF0000;

$title-color: #FF00FF;
$big-tile-color: #FF9955;
$small-tile-color: #0000FF;

$footer-color: $header-color;

html, body, #react-app {
	height: 100%;
	padding: 3px 3px;
}

.header {
	background-color: $header-color;
	height: 45px;
	margin-bottom: 5px;
	border: 3px solid grey;
}

.navbar {
	background-color: $nav-bar-color;
	height: 515px;
	border: 3px solid grey;
}

.body-col {
	.body {
		border: 3px solid #bfbfbf;
		//margin-left: 5px;
		//margin-left: .39%;
		//width: 91.27%;
		//width: 100%;
		//height: 515px;
		height: auto;
		padding: 2px;
	}
}

.title-col {
	//padding: 2px;
	.title {
		background-color: $title-color;
		height: 40px;
		border: 3px solid grey;
	}
}

.big-tile-container {
	.big-tile {
		background-color: $big-tile-color;
		height: 240px;
		border: 3px solid grey;
		margin: 5px 0px;
		//width: 49.7720%;
		width: 100%;
		//margin-left: -2.4%;
		
		&:first-child {
			margin-right: 5px;
		}
	}

	.big-tile-col {

	}
}

.small-tile-container {
	margin-bottom: 5px;


	.small-tile-row {
		&:first-child {
			margin-bottom: 5px;
		}

		.small-tile {
			background-color: $small-tile-color;
			height: 100px;
			margin: {
				top: 1px;
				left: 0px;
				bottom: 1px;
			}
			border: 3px solid grey;

			&:not(:last-child) {
				margin-right: 10px;
			}

			&.col-md-2 {
				width: 17.9545%;
			}
		}
	}
}

.footer {
	background-color: $footer-color;
	height: 25px;
	border: 3px solid grey;
	margin-top: -10px;
}