$header-color: #00FF00;
$nav-bar-color: #FF0000;

$title-color: #FF00FF;
$big-tile-color: #FF9955;
$small-tile-color: #0000FF;

$footer-color: $header-color;

html, body, #react-app {
	height: 100%;
	padding: 3px 3px;
}

.header {
	background-color: $header-color;
	height: 30px;
	margin-bottom: 5px;
	border: 3px solid grey;
}

.navbar {
	background-color: $nav-bar-color;
	height: 510px;
	border: 3px solid grey;
	margin-bottom: 5px;
}

.body {
	border: 2px solid grey;
	margin-left: 5px;
	width: 91.2%;
	height: 510px;
	padding: 5px 20px;
}

.title {
	background-color: $title-color;
	height: 40px;
	border: 3px solid grey;
	margin-bottom: 5px;
}

.big-tile-container {

}

.big-tile {
	background-color: $big-tile-color;
	height: 240px;
	border: 3px solid grey;
	margin-bottom: 5px;
	width: 49.7720%;
}

.small-tile-container {
	margin-bottom: 5px;
}

.small-tile {
	background-color: $small-tile-color;
	height: 100px;
	margin: 2px;
	border: 3px solid grey;
}

.footer {
	background-color: $footer-color;
	height: 15px;
	border: 3px solid grey;
}