$header-color: #00FF00;
$nav-bar-color: #FF0000;

$title-color: #FF00FF;
$big-tile-color: #FF9955;
$small-tile-color: #0000FF;

$footer-color: $header-color;

html, body, #react-app {
	height: 100%;
	padding: 3px 3px;
}

.container-fluid { height: 100%; } 
.navbar-row { height: 100%; }

.header {
	background-color: $header-color;
	height: 45px;
	margin-bottom: 5px;
	border: 3px solid grey;
}

.navbar-col {
	padding: 0 2.5px 0 0;
	//height: 36.7em;
	height: 100%;
	.custom-navbar {
		background-color: $nav-bar-color;
	//	height: 515px;
		//height: 870.225px;
	//	height: 80.6vh;
		height: 100%;
		border: 3px solid grey;
		margin-bottom: 0;
	}	
}

.body-col {
	padding: 0;
	height: 100%;
	.body {
		border: 3px solid #bfbfbf;
		height: 100%;
		padding: 4px;
	}
}

.title-row {
	height: 7.8%;
	.title-col {
		height: 100%;
		.title {
			background-color: $title-color;
			height: 100%;
			border: 3px solid grey;
		}
	}
}

.big-tile-row {
	margin: 0px -5px;
	height: 45%;

	.big-tile-container {
		height: 100%;
		.big-tile-col {
			padding: 0px 5px;
			height: 100%;

			.big-tile {
				background-color: $big-tile-color;
				//height: 240px;
				height: 97.5%;
				border: 3px solid grey;
				margin: 5px 0;
			}
		}
	}
}

.small-tile-container {
	height: 47%;
	
	.small-tile-row {
		margin: 0 -5px;
		height: 100%;
	
		.small-tile-col {
			padding: 0 5px;
			height: 50%;

			.small-tile {
				background-color: $small-tile-color;
				height: 97%;
				margin: 2.6225px 0;
				border: 3px solid grey;
			}
		}
	}
}

.footer-col {
	padding: 0;
	.footer {
		background-color: $footer-color;
		height: 25px;
		border: 3px solid grey;
		margin-top: .7%;
	}	
}
